@import '../../assets/sass/lbd/variables.scss';
@import '../../assets/sass/lbd/mixins.scss';

.signup-form-page {
	&--content {
		display: flex;
		position: relative;
		flex-direction: column;
		z-index: 4;
		padding-top: 100px;
		justify-content: center;
		align-items: center;

		@media only screen and (max-width: 992px) {
			padding-top: 32px;
		}

		.sign-up-form {
			max-width: 450px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			flex-direction: column;

			&.payment-form {
				width: 100%;
				max-width: 730px;
			}
			& .form-title-container {
				display: flex;
				justify-content: flex-start;
			}

			@media only screen and (max-width: 992px) {
				width: 360px;
			}
			.form-container {
				width: 100%;
				height: 500px;
				align-items: center;
				flex-direction: column;
				margin: 0;
				padding: 0;
			}

			.input-container {
				margin-bottom: 18px;
				padding: 16px 16px;
				background-color: white;
				border: 1px solid #d0d4d6;
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;

				& .react-phone-number-input__icon--international {
					/* The international icon size is square */
					/* and also has no border hence the `2 * 1px` `width` and `height` compensation */
					width: calc(0.93em + 6px);
					height: calc(0.93em + 6px);
				}

				& .react-phone-number-input__input {
					margin-left: 0;
				}
			}

			.error-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 0;
				padding-top: 0;
				.close-icon {
					width: 12px;
					height: 12px;
					color: '#AC4847';
				}
			}

			.spinner {
				margin: 0 auto;
			}

			input {
				flex: 1;
				font-size: 18px;
				color: $wedge-blue-gray;
				border: 0;
				margin-left: 16px;
				&::placeholder {
					color: #c5c8c9;
				}
			}
			.icon-container {
				width: 18px;
				height: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				.input-icon {
					max-height: 18px;
					max-width: 18px;
				}
				.person-icon {
					max-height: 25px;
					max-width: 25px;
				}
				.icon-organization{
					font-size: 18px;
				}
			}
			.signup-button {
				cursor: pointer;
				color: white;
				padding: 16px;
				background-color: $wedge-primary-blue;
				border-radius: 3.8px;
				padding: 0 10px;
				font-size: 18px;
				text-align: center;
				height: 50px;
				margin: 0;
				width: 100%;
			}

			.alert-danger {
				background-color: #f2dede;
				border: 1px solid #a94442;
				color: #a94442;
				padding: 16px;
				border-radius: 0.25rem;
				margin-bottom: 24px;
			}
		}
	}

	.signup-button {
		cursor: pointer;
		color: white;
		padding: 16px;
		background-color: $wedge-primary-blue;
		border-radius: 3.8px;
		font-size: 18px;
		text-align: center;
		margin: 0;
		width: 100%;
		height: 50px;
		flex: 0;
	}

	&--footer {
		z-index: 1;
		position: fixed;
		bottom: 0;
		.footer--image {
			background-color: #f9f9f9;
			width: 100%;
			object-fit: contain;

			@media only screen and (max-width: 992px) {
				width: unset;
				max-height: 50vh;
			}
		}
	}
}
.submit-button-container {
	width: 100%;
	height: 50px;
}
