/*      light colors         */
.fetch-error-message {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  padding: 8px 16px;
  background-color: #f2dede;
  border: 1px solid #a94442;
  color: #a94442;
  padding: 16px;
  border-radius: 2px; }
  .fetch-error-message i {
    font-size: 24px; }
  .fetch-error-message--container {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .fetch-error-message--text {
    font-size: 14px;
    font-weight: 400; }
  .fetch-error-message--code {
    margin: 0 8px;
    font-size: 15px;
    font-weight: 600; }
  .fetch-error-message--help {
    color: #4986c5;
    cursor: pointer;
    font-weight: 600; }
  .fetch-error-message .d-flex {
    display: flex; }
  .fetch-error-message .divider {
    margin: 0 8px; }
