/*      light colors         */
.advanced-container--title {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #4a87c6 !important; }
  .advanced-container--title span {
    margin-left: 8px;
    font-size: 16px; }
  .advanced-container--title i {
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .advanced-container--title i.inverted {
      transform: rotate(-180deg); }

.advanced-container--content {
  padding-top: 20px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .advanced-container--content.visible {
    overflow: visible;
    max-height: 300px;
    opacity: 1; }
    @media (max-width: 993px) {
      .advanced-container--content.visible {
        max-height: 700px; } }
