@import '../../assets/sass/lbd/variables';
@import '../../assets/sass/lbd/mixins';

@mixin space-vertical($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

.policies {
	.loader-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__table-content {
		margin-top: 16px;
		min-width: 1100px;
	}

	&__search-bar {
		margin-bottom: 32px;
	}
}
