.flex-row, .centered-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.centered-row {
  align-items: center; }

.stretch {
  flex: 1;
  justify-content: space-between; }

.baseline {
  align-items: baseline; }

.center {
  align-items: center; }

.space-left {
  margin-left: 16px; }

.space-above {
  margin-top: 16px; }

.space-above-8 {
  margin-top: 8px; }

.capitalize {
  text-transform: capitalize; }

.component-coming-soon.hidden {
  visibility: collapse; }

.table-item {
  background-color: white;
  border-radius: 4px;
  border: 0.5px solid #ebebeb;
  padding: 24px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .table-item {
      flex-direction: column;
      justify-content: space-between;
      padding: 16px; } }

.coming-soon {
  display: flex;
  justify-content: center;
  min-height: 75vh; }
  .coming-soon img {
    width: 512px; }
    @media only screen and (max-width: 992px) {
      .coming-soon img {
        width: 320px; } }

.component-coming-soon {
  opacity: 0.33 !important; }
  .component-coming-soon * {
    pointer-events: none; }

@keyframes slideLeftAndRight {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0); } }

@keyframes flickerAnimation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1; } }

.animate-flicker {
  animation-duration: 1.5s;
  animation-name: flickerAnimation;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }

.slow-shake {
  animation-duration: 1.5s;
  animation-name: slideLeftAndRight;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }

/*      light colors         */
.select-with-create-form {
  border-bottom: 1px #ededed solid;
  padding: 4px 0;
  position: relative; }
  .select-with-create-form .dropdown-menu {
    width: 215px;
    border-radius: 4px;
    transition: none !important;
    visibility: visible;
    overflow-y: scroll;
    opacity: 1;
    max-height: 195px; }
    .select-with-create-form .dropdown-menu .wedge-menu-item {
      cursor: pointer; }
      .select-with-create-form .dropdown-menu .wedge-menu-item .item {
        padding: 8px 16px;
        color: #333333;
        display: block;
        clear: both;
        white-space: nowrap; }
      .select-with-create-form .dropdown-menu .wedge-menu-item:focus {
        background-color: #f5f5f5;
        color: #333333;
        opacity: 1;
        text-decoration: none; }
      .select-with-create-form .dropdown-menu .wedge-menu-item:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5; }
    .select-with-create-form .dropdown-menu .wrapper1 {
      max-height: 165px;
      overflow-y: scroll; }
    .select-with-create-form .dropdown-menu .staticCreate {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #6d8994;
      background-color: #f7f7f7;
      height: 30px; }
      .select-with-create-form .dropdown-menu .staticCreate .add-button {
        height: 20px;
        pointer-events: none; }
    .select-with-create-form .dropdown-menu .createModal {
      overflow-x: hidden; }
      .select-with-create-form .dropdown-menu .createModal .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 15px 8px 15px; }
        .select-with-create-form .dropdown-menu .createModal .header p {
          padding: 0 8px; }
        .select-with-create-form .dropdown-menu .createModal .header i {
          cursor: pointer; }
      .select-with-create-form .dropdown-menu .createModal .content {
        padding: 5px 0px 0px 0px; }
    .select-with-create-form .dropdown-menu > li:first-child > a {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .select-with-create-form .dropdown-menu .addrIcon {
      height: 24px;
      margin-left: 6px;
      margin-right: 12px; }
    .select-with-create-form .dropdown-menu .gateIcon {
      width: 30px;
      height: 18px;
      margin-right: 7px; }
  .select-with-create-form .dropdown-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px transparent solid;
    background-color: transparent;
    outline: 0; }
    .select-with-create-form .dropdown-toggle.btn:focus {
      outline: none; }
    .select-with-create-form .dropdown-toggle .input {
      border: none; }
    .select-with-create-form .dropdown-toggle .input-no-border {
      border: none; }
    .select-with-create-form .dropdown-toggle p {
      font-size: 14px; }
    .select-with-create-form .dropdown-toggle:hover, .select-with-create-form .dropdown-toggle:focus {
      background-color: transparent;
      border-color: #f68b1e; }
  .select-with-create-form.open .dropdown-toggle {
    box-shadow: 0;
    background-color: transparent;
    border-color: #f68b1e; }
    .select-with-create-form.open .dropdown-toggle:hover, .select-with-create-form.open .dropdown-toggle:focus {
      box-shadow: 0;
      background-color: transparent;
      border-color: #f68b1e; }
  .select-with-create-form .create-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px; }
    .select-with-create-form .create-new .field-error-container {
      padding: 0px 10px;
      flex: 1;
      width: 100%;
      margin: 0px 0 10px 0; }
      .select-with-create-form .create-new .field-error-container .form__select {
        margin-bottom: 10px; }
    .select-with-create-form .create-new .save-button {
      font-size: 12px;
      cursor: pointer;
      width: 100%;
      background-color: #4986c5;
      padding: 5px 0px;
      color: white;
      border-radius: 0px; }
      .select-with-create-form .create-new .save-button:disabled {
        color: #888;
        cursor: not-allowed; }
    .select-with-create-form .create-new .error-text {
      font-size: 10px;
      color: red; }
    .select-with-create-form .create-new .form__textinput {
      margin: 0 8px 0 0;
      padding: 2px; }
    .select-with-create-form .create-new .form__inputLabel {
      font-size: 12px;
      font-weight: 600;
      color: #6d8994; }
