.tls__form {
  margin: 0; }

.tls__button {
  background-color: #f8fdff;
  color: #6d8994;
  border: 0.5px #c5d4e2 solid;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 5px 10px -2px rgba(136, 136, 136, 0.1); }
