@import '../../assets/sass/lbd//variables.scss';

#popover-commit {
	width: 280px;
	max-width: unset;
	box-shadow: 0 2px 4px 0 #eeeeee;
	border: solid 0.5px #dadddf;
	.arrow {
		visibility: hidden;
	}
	.popover-content {
		padding: 0;
	}
	.commit-list {
		padding: 25px 20px 10px 20px;
		max-height: 350px;
		overflow-y: auto;
	}
	.commit-actions {
		padding: 10px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		border-top: 1px #ddd solid;

		.button {
			font-size: 18px;
			font-weight: normal;
			border-radius: 3px;
			padding: 8px 32px;
		}

		.commit-button {
			margin-right: 10px;
			background-color: $wedge-secondary-blue;
			border: 1px $wedge-secondary-blue solid;
		}
		.revert-button {
			border: 1px #aaaaaa solid;
			color: #aaaaaa;
		}
	}
	.single-commit {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 16px;

		&--user-container {
			align-items: center;
			margin-right: 20px;

			.user-avatar {
				border: 1px #ddd solid;
				border-radius: 20px;
				width: 40px;
				height: 40px;
				margin-bottom: 6px;
			}
			.user-name {
				margin: 0;
				font-size: 12px;
				text-align: center;
				color: $wedge-blue-gray;
			}
		}
		&--details {
			flex: 1;
			background-color: white;
			border-radius: 4px;
			padding: 8px 12px;
			box-shadow: 0 2px 4px 0 #eeeeee;
			border: solid 0.5px #dadddf;

			.details--first-line {
				font-size: 14px;
				color: $wedge-blue-gray;
			}
			.details--second-line {
				.action-name {
					font-size: 12px;
					color: #5cc2ea;
					font-weight: 600;
				}
				.action-details {
					font-size: 14px;
					color: $wedge-blue-gray;
				}
			}
		}
	}
}
